/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "superhero/variables";
@import "bootstrap";
@import "superhero/bootswatch";
@import "font-awesome";
@import "custom_bootstrap";
@import "iziModal";

:root {
  --primary: goldenrod;
  --btnblack: #2E2F30;
}

.db-spin {
  animation: rotate-anime 0.1s linear infinite;
}

.power-btn {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  color: var(--btnblack);
  background: var(--primary);
  border: .15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 5px 2px #2E2F30;
  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  &:hover {
    color: #fff;
    background-color: #d23430;
    border-color: #c9302c;
  }
}

.db-hover {
    color: #fff;
    background-color: #d23430;
    border-color: #c9302c;
}

@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

.blink {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
