/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "superhero/variables";
@import "bootstrap";
@import "superhero/bootswatch";
@import "font-awesome";
@import "custom_bootstrap";

body {
  background-image: url("/images/back.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.nav-link-extend {
  padding: 1rem;
  font-size: 3vmin;
}

.nav-tabs-extend {
  border-bottom: 3px solid #4E5D6C;
}

.active {
  background: rgba(255, 255, 255, 0.1);
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.sticky-top {
  background-image: url("/images/back.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.link-like {
  color: #DF691A;
  &:hover {
    text-decoration: underline;
    color: #824433;
  }
}
