.nav-link--extend {
  padding: 1rem;
  font-size: 3vmin;
}

.nav-tabs--extend {
  border-bottom: 3px solid #4E5D6C;
}

.tab--active {
  background: rgba(255, 255, 255, 0.1);
}

.tab-image {
  background-image: url("/images/back.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
