@keyframes cdp-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.page-btn {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0.5rem;
  color: #fcd383;
  background-color: rgba(255,255,255,0.25);
  border-radius: 50px;
  z-index: 6;
  margin: 50px 0;

  animation: cdp-in 500ms ease both;
  animation-timeout: 200ms;
  &_i {
    font-size: 14px;
    text-decoration: none;
    transition: background 250ms;
    display: inline-block;
    text-transform: uppercase;
    height: 38px;
    min-width: 38px;
    border-radius: 38px;
    line-height: 34px;
    padding: 0;
    color: black;
    background:linear-gradient(#FFF, #fbbc42);
    font-weight: 700;
    letter-spacing: .03em;
  }
  &_i:hover {
    background-color: navy;
    color: #e76a24;
  }
}

@media (max-width: 991px) {
  .page-btn_i {
    font-size: 13px;
    height: 35px;
    min-width: 35px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .page-btn_i {
    font-size: 11px;
    height: 30px;
    min-width: 30px;
    line-height: 24px;
  }
}
