/ twitter-card
meta name="twitter:card" content="summary_large_image"
/meta name="twitter:site" content="@fujji1126"
/meta property="og:url" content="#{@url}"
meta property="twitter:title" content="Title"
meta property="twitter:description" content="本文"
meta property="og:image" content="#{root_url.concat('assets/', 'default.jpg')}"
